<div class ="all">
    <form class="form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Leita af hárgreiðslustofu" value="">
        </mat-form-field>
    </form>
    
    <div class="main">
        <div class="toggeButton">
            <h1>Hárgreiðslustofu</h1>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="barber">Rakarastofur</mat-button-toggle>
                <mat-button-toggle value="saloons">Hárgreiðslustofur</mat-button-toggle>
                <mat-button-toggle value="noBooking">Engar tímapanntanir</mat-button-toggle>
                <mat-button-toggle value="popular">Vinsælast</mat-button-toggle>
                
            </mat-button-toggle-group>
            <div  class = "list" *ngFor = "let i of list">
                <p>{{i.name}}</p>
            </div>
        </div>
            <div  #map style="width:100%;height:100%"></div>
    </div>
</div>