<div class = "all">
<form class="form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Leita af bar" value="">
        </mat-form-field>
    </form>
    
    <div class="main">
        <div class="toggeButton">
            <h1>Barir</h1>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="kokteil">Kokteila barir</mat-button-toggle>
                <mat-button-toggle value="sport">Sport barir</mat-button-toggle>
                <mat-button-toggle value="craft">Craf barir</mat-button-toggle>
                <mat-button-toggle value="night">Nætur barir</mat-button-toggle>
                <mat-button-toggle value="popular">Vinsælast</mat-button-toggle>
            </mat-button-toggle-group>
            <div  class = "list" *ngFor = "let i of list">
                <p>{{i.name}}</p>
            </div>
        </div>
            <div  #map style="width:100%;height:100%;"></div>
    </div>
</div>