<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/stylesheetVelkominnv2.css}"/>
    -->
</head>
<body>
<h2>Login to your account</h2>
<span>
    <p th:text="${message}">text</p>
    <a href="/signup" th:text="${signUpLink}">here</a>
</span>

    <form action="#" th:action="@{/login}" th:object="${user}"  method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" th:field="*{username}"/>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" th:value="*{password}"/>
        <input type="submit" value="Login"/>
    </form>
    <p><a href="/">Back</a></p>
</body>
</html>