<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
<h2>Sign up for an account</h2>
    <c:if test="${not empty error}">
      Error: ${error}
    </c:if>
    <form action="#" th:action="@{/signup}" th:object="${user}"  method="post">
        <input type="text" name="username" id="username" th:field="*{username}"/>
        <input type="text" name="password" id="password" th:value="*{password}"/>
        <input type="submit" value="Sign up"/>
    </form>
</body>
</html>