<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/addexercise}" th:object="${exercise}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <label for="description">Description</label>
    <input type="text" th:field="*{description}" id="description" placeholder="Description">
    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
    <label for="bodypart">BodyPart</label>
    <input type="text" th:field="*{bodypart}" id="bodypart" placeholder="BodyPart">
    <span th:if="${#fields.hasErrors('bodypart')}" th:errors="*{bodypart}"></span>
    <input type="submit" value="Add Exercise">
</form>

</body>
</html>