<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:switch="${exercises}">
    <h2 th:case="null">No exercises yet!</h2>
    <div th:case="*">
        <h2>Exercises</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Bodypart</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="exercise : ${exercises}">
                <td th:text="${exercise.name}"></td>
                <td th:text="${exercise.description}"></td>
                <td th:text="${exercise.bodypart}"></td>
                <td><a th:href="@{/delete/{id}(id=${exercise.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/addexercise">Add a new exercise</a></p>
</div>
</body>
</html>