<div class ="all">
<form class="form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Leita af sundlaug" value="">
        </mat-form-field>
    </form>

    <div class="main">
        <div class="toggeButton">
            <h1>Veitingarstaðir</h1>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="popular">Vinstælast</mat-button-toggle>
                <mat-button-toggle value="inside">Innilaug</mat-button-toggle>
                <mat-button-toggle value="outside">Útilaug</mat-button-toggle>
                <mat-button-toggle value="steam">Gufu</mat-button-toggle>
                <mat-button-toggle value="kids">Barnalaug</mat-button-toggle>
                <mat-button-toggle value="cold">Köldum pott</mat-button-toggle>

            </mat-button-toggle-group>
            <div  class = "list" *ngFor = "let i of list">
                <p>{{i.name}}</p>
            </div>
        </div>
            <div  #map style="width:100%;height:100%"></div>
    </div>
</div>