<h2>Fréttir</h2>
<p>Nýtt þessa vikuna:</p>

<div class="clearfix">
  <div class="img-container">
                <img src="../../assets/sundlaug.jpg" alt="Italy" style="width:100%">
                <div class="text-block">
                        <h4>Sundlaugar</h4>
                      </div>
                <p>Fréttir um þetta>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
  </div>
  <div class="img-container">
                <img src="../../assets/bar.jpg" alt="Italy" style="width:100%">
                <div class="text-block">
                        <h4>Barir</h4>
                      </div>
                <p>Fréttir um þetta>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
  </div>
  <div class="img-container">
                <img src="../../assets/veitingastadur.jpg" alt="Italy" style="width:100%">
                <div class="text-block">
                        <h4>Veitingastaðir</h4>
                      </div>
                <p>Fréttir um þetta>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
  </div>
</div>
<div class="clearfix">
                <div class="img-container">
                              <img src="../../assets/har.jpg" alt="Italy" style="width:100%">
                              <div class="text-block">
                                <h4>Hárgreiðslustofur</h4>
                              </div>
                              <p>Fréttir um þetta>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="img-container">
                              <img src="../../assets/kaffi.jpg" alt="Italy" style="width:100%">
                              <div class="text-block">
                                <h4>Kaffihús</h4>
                              </div>
                              <p>Fréttir um þetta>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div class="img-container">
                              <img src="../../assets/veitingastadur.jpg" alt="Italy" style="width:100%">
                              <div class="text-block">
                                <h4>Veitingastaðir</h4>
                              </div>
                              <p>Fréttir um þetta>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
              </div>

<div class = "main">
    <h1>{{Resturants}}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>
